@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.pagina {
  width: 100%;
  height: 100vh;
  background-image: url("../img/halo-fondo.gif");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navegacion {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.navegacion__info {
  position: relative;
  height: 50%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info__rol {
  position: relative;
  width: 70%;
  display: flex;
  justify-content: center;
}

.emoji {
  margin-right: 1%;
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
}

.navegacion__nametag {
  display: flex;
  align-items: center;
  margin-right: 1%;
  color: rgb(231, 197, 74);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
}

.rol {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.info__estado {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.325);
  height: 30%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carrusel__contenedor {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flecha {
  border-color: white;
  border-width: 5px;
  border-style: solid;
  background-color: white;
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  height: 5%;
  display: flex;
  align-items: center;
  transition: all 50ms;
  cursor: pointer;
}

.flecha:hover {
  transform: scale(1.15);
}

.flecha.izquierda {
  margin-left: 5%;
}

.flecha.derecha {
  margin-right: 5%;
}

.carrusel {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  height: 21%;
}

.item {
  border-color: rgb(215, 215, 215);
  border: 3.5px;
  border-style: solid;
  color: rgb(215, 215, 215);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 20%;
  padding-left: 1.5%;
  transition: all 150ms;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.075);
  border-color: white;
  color: white;
  filter: brightness(2);
  box-shadow: 0 0 2.5px white;
}

.item.active {
  border-color: white;
  color: white;
  filter: brightness(2);
}

.cuerpo {
  display: none;
  height: 60%;
}

.cuerpo.active {
  display: flex;
}

.cuerpo.sobre__mi {
  height: 55%;
  align-items: center;
  justify-content: space-between;
  padding-left: 5.5%;
  padding-right: 7.5%;
  transition: all 150ms;

}

.descripcion__contenedor {
  width: 40%;
  height: 75%;
  background-color: rgba(0, 0, 0, 0.325);
  padding-left: 1%;
  padding-right: 1%;
}

.descripcion__nombre {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  height: 15%;
}

.descripcion__texto {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  text-align: justify;
  width: 98%;
}

.foto {
  position: relative;
  background-image: url(/img/foto.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: hard-light;
  filter: grayscale(100%);
  width: 22%;
  height: 85%;
  transition: all 150ms;
}

.foto:hover {
  transform: scale(1.075);
  /*box-shadow: 0 0 50px #f1c40f;*/
  filter: none;
  mix-blend-mode: normal;
}

.foto::after,
.foto::before {
  content: " ";
  width: 97%;
  height: 1.35%;
  position: absolute;
  border: 0px solid #fff;
}

.foto::after {
  border-radius: 5px 5px 0 0;
  top: -6px;
  left: 2.5px;
  border-top: 3.5px solid white;
  border-left: 3.5px solid white;
  border-right: 3.5px solid white;
}

.foto::before {
  border-radius: 0 0 5px 5px;
  bottom: -6px;
  left: 2.5px;
  border-bottom: 3.5px solid white;
  border-right: 3.5px solid white;
  border-left: 3.5px solid white;
}

.cuerpo.habilidades {
  height: 55%;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.325);
  margin-right: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
}

.habilidad {
  width: 30%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.imagen__habilidad {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15%;
  width: 21.5%;
  height: 50%;
  animation: flotar 4.5s ease-out infinite;
}

@keyframes flotar {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-6px);
  }

  100% {
    transform: translateY(0px);
  }
}

.imagen__habilidad:hover {
  animation: ampliar 0.3s ease forwards;
  cursor: pointer;
}

@keyframes ampliar {
  100% {
    transform: scale(1.1);
  }
}

.nombre__habilidad {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
}

.texto__habilidad {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  text-align: justify;
}

.cuerpo.portafolio {
  height: 55%;
  align-items: center;
  justify-content: space-between;
  padding-left: 5.5%;
  padding-right: 3.5%;
  transition: all 150ms;
}

.menu__portafolio {
  width: 25%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.opcion {
  position: relative;
  width: 100%;
  height: 20%;
  border-radius: 2.5px;
  background-color: rgba(0, 0, 0, 0.325);
  color: white;
  font-weight: bold;
  padding-left: 3%;
  display: flex;
  align-items: center;
}

.opcion:hover {
  transform: scale(1.075);
  mix-blend-mode: normal;
  cursor: pointer;
}

.opcion::after,
.opcion::before {
  content: " ";
  width: 101%;
  height: 5%;
  position: absolute;
  border: 0px solid #fff;
}

.opcion::after {
  border-radius: 5px 5px 0 0;
  top: -4px;
  left: -4px;
  border-top: 2.5px solid white;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.opcion::before {
  border-radius: 0 0 5px 5px;
  bottom: -4px;
  left: -4px;
  border-bottom: 2.5px solid white;
  border-right: 2.5px solid white;
  border-left: 2.5px solid white;
}

.opcion.active {
  background-color: white;
  color: rgba(0, 0, 0, 0.65);
}

.descripcion__portafolio {
  position: relative;
  background-color: rgba(0, 0, 0, 0.325);
  width: 70%;
  height: 95%;
  display: flex;
  align-items: center;

}

.descripcion.educacion {
  display: none;
}

.descripcion.educacion.active {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  color: white;
  text-align: justify;
  font-weight: bold;

}

.texto__educacion {
  padding-left: 2.5%;
  padding-right: 2.5%;
  text-shadow: 0px 1px 0px black;
  background-color: rgba(0, 0, 0, 0.325);
  width: 90%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.foto__educacion {
  position: relative;
  background-image: url(/img/educacion.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  mix-blend-mode: hard-light;
  filter: grayscale(100%);
  border-radius: 3px;
  width: 30%;
  height: 50%;
}

.foto__educacion:hover {
  transform: scale(1.075);
  /*box-shadow: 0 0 50px #f1c40f;*/
  mix-blend-mode: normal;
  filter: none;
  cursor: pointer;
}

.foto__educacion::after,
.foto__educacion::before {
  content: " ";
  width: 97%;
  height: 3.5%;
  position: absolute;
  border: 0px solid #fff;
}

.foto__educacion::after {
  border-radius: 5px 5px 0 0;
  top: -5px;
  left: 3.5px;
  border-top: 2.5px solid white;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.foto__educacion::before {
  border-radius: 0 0 5px 5px;
  bottom: -5px;
  left: 3.5px;
  border-bottom: 2.5px solid white;
  border-right: 2.5px solid white;
  border-left: 2.5px solid white;
}

.progress-bar {
  width: 50%;
  height: 20px;
  border: 2px solid white;
  border-radius: 4px;
}

.progress {
  height: 100%;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.65);
  width: 0%;
  animation: progress-animation 1s linear forwards;
  display: flex;
  justify-content: center;
}

@keyframes progress-animation {
  from {
    width: 0%;
  }

  to {
    width: 90%;
  }
}

.descripcion.proyectos {
  display: none;
}

.descripcion.proyectos.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.principal__slider {
  margin: auto;
  width: 95%;
  height: 95%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contenido__slider,
.contenido__slider__certificados {
  display: none;
}

.contenido__slider.active,
.contenido__slider__certificados.active {
  margin-top: 1%;
  height: 82%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item__slider {
  width: 30%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.325);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5%;
}

.imagen__proyecto.uno {
  background-image: url(/img/poyoUsuarios.PNG);
}

.imagen__proyecto.dos {
  background-image: url(/img/personajesLoL.PNG);
}

.imagen__certificado.uno {
  background-image: url(/img/azure900.PNG);
}

.imagen__certificado.dos {
  background-image: url(/img/cibersecurity.PNG);
}

.imagen__certificado.tres {
  background-image: url(/img/database.PNG);
}

.imagen__certificado.cuatro {
  background-image: url(/img/IA.PNG);
}

.imagen__certificado.cinco {
  background-image: url(/img/bigdata.PNG);
}

.imagen__certificado.seis {
  background-image: url(/img/javaFX.PNG);
}

.imagen__certificado.siete {
  background-image: url(/img/laravel.PNG);
}

.imagen__certificado.ocho {
  background-image: url(/img/python.PNG);
}

.imagen__certificado.nueve {
  background-image: url(/img/seguridadInformatica.PNG);
}


.imagen__proyecto,
.imagen__certificado {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 95%;
  height: 46%;
  filter: grayscale(100%);
}

.imagen__proyecto:hover,
.imagen__certificado:hover {
  transform: scale(1.050);
  /*box-shadow: 0 0 50px #f1c40f;*/
  mix-blend-mode: normal;
  filter: none;
  cursor: pointer;
}

.imagen__proyecto::after,
.imagen__proyecto::before,
.imagen__certificado::after,
.imagen__certificado::before {
  content: " ";
  width: 96%;
  height: 3%;
  position: absolute;
  border: 0px solid #fff;
}

.imagen__proyecto::after,
.imagen__certificado::after {
  border-radius: 5px 5px 0 0;
  top: -5px;
  left: 4.5px;
  border-top: 2.5px solid white;
  border-left: 2.5px solid white;
  border-right: 2.5px solid white;
}

.imagen__proyecto::before,
.imagen__certificado::before {
  border-radius: 0 0 5px 5px;
  bottom: -5px;
  left: 4.5px;
  border-bottom: 2.5px solid white;
  border-right: 2.5px solid white;
  border-left: 2.5px solid white;
}

.texto__proyecto,
.texto__certificado {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  text-align: justify;
  height: 30%;
  margin: 5%;
  display: flex;
  align-items: center;
}

.menu__slider {
  height: 10%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.opcion__slider,
.opcion__slider__certificados {
  color: white;
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  background-color: grey;
  height: 100%;
  width: 22.5%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.opcion__slider:hover,
.opcion__slider__certificados:hover {
  background-color: white;
  color: black;
  text-shadow: 0px 1px 0px white;
  font-weight: bold;
  cursor: pointer;
}

.opcion__slider.active,
.opcion__slider__certificados.active {
  background-color: white;
  color: black;
  text-shadow: 0px 1px 0px white;
  font-weight: bold;
  cursor: pointer;
}

.descripcion.certificaciones {
  display: none;
}

.descripcion.certificaciones.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.descripcion.cv {
  display: none;
}

.descripcion.cv.active {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.download__cv {
  text-decoration: none;
  border-color: rgb(215, 215, 215);
  border: 3.5px;
  border-style: solid;
  color: rgb(215, 215, 215);
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  transition: all 150ms;
  cursor: pointer;
}

.download__cv:hover {
  transform: scale(1.075);
  border-color: white;
  color: white;
  box-shadow: 0 0 2.5px white;
}

a {
  width: auto;
  height: auto;
}

.cuerpo.contacto {
  height: 55%;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.325);
  margin-right: 5%;
  margin-left: 5%;
}

.pie {
  height: 10%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  display: flex;
  justify-content: space-between;
}

.contenedor__hobbies {
  display: flex;
  align-items: center;
  overflow: hidden;
  height: 90%;
  width: 40%;
  position: relative;
  margin-left: 0.5%;
  margin-top: 0.5%;
}

.pacman {
  position: relative;
  background: transparent;
  z-index: 1;
}

.pacman::before,
.pacman::after {
  position: absolute;
  top: -35px;
  display: block;
  border-radius: 50%;
  content: "";
  height: 0px;
  width: 0px;
}

.pacman::before {
  animation: boca-top .5s ease infinite;
  border: 35px solid #FFCC00;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.pacman::after {
  animation: boca-bottom .5s ease infinite;
  border: 35px solid #FFCC00;
  border-right-color: transparent;
  border-top-color: transparent;
}

.comida {
  animation: comiendo 15s linear infinite;
  position: absolute;
  padding-left: 10px;
}

.comida span {
  color: white;
  white-space: nowrap;
  font-size: 1.2rem;
  line-height: 1.5;
}


@keyframes boca-top {

  0%,
  100% {
    transform: rotate(-45deg);
  }

  50% {
    transform: rotate(-80deg);
  }
}

@keyframes boca-bottom {

  0%,
  100% {
    transform: rotate(-40deg);
  }

  50% {
    transform: rotate(0deg);
  }
}

@keyframes comiendo {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.pie__info {
  position: relative;
  width: 30%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.325);
  margin-right: 0.5%;
  margin-top: 0.5%;
}

.icon {
  width: 20%;
  height: 52%;
  padding-left: 5%;
  border-left: 1px solid white;
}

.pie__item__contenedor__name__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52%;
  width: 40%;
  padding-left: 2.5%;
}

.logo {
  height: 8vh;
  width: 8vh;
}

.pie__nametag {
  color: white;
  text-shadow: 0px 1px 0px black;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.325);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.5%;
  margin-left: 1.5%;
}

.pie__info .icon {
  margin: 0 20px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pie__info .icon span {
  display: block;
  height: 60px;
  width: 60px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pie__info .icon span i {
  line-height: 60px;
  font-size: 25px;
}

.pie__info .icon .tooltip {
  position: absolute;
  top: 0;
  z-index: 1;
  background: #fff;
  color: #fff;
  padding: 10px 18px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pie__info .icon:hover .tooltip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.icon .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  left: 50%;
  bottom: -6px;
  transform: translateX(-50%) rotate(45deg);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.pie__info .icon:hover span {
  color: #fff;
}

.pie__info .icon:hover span,
.pie__info .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.4);
}

.pie__info .facebook:hover span,
.pie__info .facebook:hover .tooltip,
.pie__info .facebook:hover .tooltip:before {
  background: #3b5999;
}

.pie__info .github:hover span,
.pie__info .github:hover .tooltip,
.pie__info .github:hover .tooltip:before {
  background: #333;
}

.pie__info .linkedin:hover span,
.pie__info .linkedin:hover .tooltip,
.pie__info .linkedin:hover .tooltip:before {
  background: #0097fc;
}